@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  transition: all ease-in 0.2s;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  padding: 60px;
}
#main {
  width: 100%;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  backdrop-filter: blur(16px);
  position: absolute;
  z-index: 1;
}

#left {

  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(20px);
  background-blend-mode:color-burn;
  width: 100%;
  height: 60vh;
}

#left:hover {
  scale: 1.01;
  filter: drop-shadow(10px 10px 10px black);
}
#right {
  width: 100%;
  height: 100%;
  padding: 2vw;
  overflow: hidden;
  background-color: #00000095;
  backdrop-filter: blur(20px);

  z-index: 2;
}
#allsongs {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  user-select: none;
}
#allsongs::-webkit-scrollbar {
  -webkit-appearance: none;
  z-index: 1;

  width: 6px;
  height: 1px;
}
#allsongs::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: #04040470;
  width: 10px;
  height: 4px;
  border-radius: 20px;
}
.song-card:last-child {
  border-bottom: 2px solid #fff;
  padding-bottom: 2vw;
}
.song-card {
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin: 1vw auto;
  border-top: 1px solid #969393;
  padding: 10px;
}
.song-card:hover {
  background: rgba(41, 40, 40, 0.63);
}
#song img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.song-card h2 {
  font-size: 1rem;
  font-weight: 300;
}
#song {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#bottom {
  padding: 30px 2px;
  width: 100%;
  height: 24vh;
}
@media screen and (max-width:1000px) {
   #left {
     height: 30vh;
   }
}